.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #EFEFEF;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
  height: 500px;
}

.wrapper > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 16px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonsWrapper > button {
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  border: none;
  font-size: 16px;
}

.editButton {
  background: #FFD700;
  color: black;
  font-weight:600;
}

.deleteButton {
  background: red;
  color: white;
  font-weight:600;
}