.button {
  padding: 16px;
  border-radius: 16px;
  border: none;
  background: #EFEFEF;

}
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  border: none;
  padding: 16px;
  background: #EFEFEF;
  border-radius: 16px;

}